@model IEnumerable<Deliverymvc1.Models.Userreq>

@{
    ViewData["Title"] = "GetAllProducts";
}
<body style="background-color:powderblue;">

<h1>GetAllProducts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DTofPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeightOfPackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecutiveID)
            </th>*@

        
        </tr>
                </thead>
                <tbody>
                    
              
          
            
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DTofPickup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightOfPackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutiveID)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.@RequestID }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.@RequestID })
            </td>
        </tr>
}
    </tbody>
</table>
    </body>
