@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Deliverymvc1.Models.New>
    <partial name="_Customerpartial" />
<body style="background-color:powderblue;">

<h2> Request Accepted/Rejected</h2>
@foreach (var item in Model)
{

    if (item.Status == true)
    {
        <h6>Customer ID: @Html.DisplayFor(modelItem => item.CustomerID)</h6>
        <h6>Exrequest ID: @Html.DisplayFor(modelItem => item.ExrequestID)</h6>
        <h6>Price: @Html.DisplayFor(modelItem => item.Price)</h6>
        <h3> request Accepted and yet to packaged</h3>
    }
    else
    {
        <h6>Customer ID: @Html.DisplayFor(modelItem => item.CustomerID)</h6>
        <h6>Exrequest ID: @Html.DisplayFor(modelItem => item.ExrequestID)</h6>
        @*<h6>Exrequest ID: @Html.DisplayFor(modelItem => item.)</h6>*@
        <h6>Price: @Html.DisplayFor(modelItem => item.Price)</h6>
        <h3>Rejected</h3>
    }
    <br />
    <div>
        <a asp-controller="Userreq" asp-action="Create">Back </a>
    </div>
}
    </body>
